@import "../../../../styles/_variables.scss";

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  &--add,
  &--cancel {
    width: 72px;
  }

  &--remove {
    color: white;
    background-color: $color-red;
    padding: 5px 7px;

    &:hover {
      background-color: $color-dark-red;
    }
  }

  &--add {
    background-color: $color-blue;
    color: white;

    &:hover {
      background-color: $color-dark-blue;
    }
  }

  &--cancel {
    color: $color-grey;
    background-color: transparent;

    &:hover {
      color: $color-dark-blue;
    }
  }
}

.button--pagination,
.button--back {
  background-color: transparent;
  color: $color-blue;
  font-size: 16px;
  padding: 5px;
  border-radius: 0;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: $color-dark-blue;
  }

  &:disabled {
    color: $color-light-grey;
    cursor: not-allowed;

    &:hover {
      color: $color-light-grey;
    }
  }
}
