<header>
  <div class="popular-coins">
    <ng-container *ngFor="let coin of popularCoins">
      <div class="coin">
        <span>{{ coin.symbol }}</span>
        <span>{{ coin.priceUsd | number: '1.2-2' }} USD</span>
      </div>
    </ng-container>
  </div>
  <div class="portfolio-value">
    <ng-container *ngIf="portfolioValue">
      <span>{{ portfolioValue | number: '1.2-2' }} USD</span>
    </ng-container>
    <ng-container *ngIf="portfolioDifference">
      <span
        [ngClass]="{
          positive: portfolioDifference.value >= 0,
          negative: portfolioDifference.value < 0,
        }">
        {{ portfolioDifference.value | number: '1.2-2' }}
        ({{ portfolioDifference.percent | number: '1.2-2' }} %)
      </span>
    </ng-container>
  </div>
</header>
