// COLORS
$color-red: #ff4646;
$color-dark-red: #a11f1f;
$color-green: #28d344;
$color-black: #202020;
$color-light-grey: #eff2f5;
$color-grey: #6c6c6c;
$color-blue: #55b3d3;
$color-dark-blue: #377e90;
$color-white: #ffffff;

// SETTINGS
$desktop-xl: 1920px;
$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile-x: 465px;
$mobile: 320px;
