// COLORS
$color-red: #ff3434;
$color-green: #28d344;
$color-black: #202020;
$color-light-grey: #eff2f5;
$color-grey: #6c6c6c;
$color-blue: #7755d3;

// SETTINGS
$desktop-xl: 1920px;
$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile-x: 465px;
$mobile: 320px;
