<app-input-search
  [searchTerm]="searchQuery"
  (searchChange)="onSearch($event)"></app-input-search>

<div *ngIf="isLoading" class="spinner">
  <mat-spinner></mat-spinner>
</div>
<ng-container *ngIf="!isLoading">
  <div class="message" *ngIf="coins.length === 0 && totalCoins === 0 && searchQuery.length > 0">No coins have found</div>
  <div *ngIf="coins.length > 0">
    <div class="table-container">
      <table class="coins">
        <thead>
          <tr>
            <th>Symbol</th>
            <th>Logo</th>
            <th class="coins--sort" (click)="onSort('priceUsd')">
              Price (USD)
              <span *ngIf="sortBy === 'priceUsd'">
                {{ sortDirection === 'asc' ? '⬇' : '⬆' }}
              </span>
            </th>
            <th class="coins--sort" (click)="onSort('marketCapUsd')">
              Market Cap (USD)
              <span *ngIf="sortBy === 'marketCapUsd'">
                {{ sortDirection === 'asc' ? '⬇' : '⬆' }}
              </span>
            </th>
            <th class="coins--sort" (click)="onSort('changePercent24Hr')">
              Change (24h)
              <span *ngIf="sortBy === 'changePercent24Hr'">
                {{ sortDirection === 'asc' ? '⬇' : '⬆' }}
              </span>
            </th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let coin of coins" (click)="navigateToCoin(coin.id)">
            <td>{{ coin.symbol }}</td>
            <td>
              <img
                [src]="getIconUrl(coin.symbol)"
                alt="{{ coin.symbol }}"
                width="32"
                (error)="onImageError($event)" />
            </td>
            <td>{{ formatPrice(coin.priceUsd) }}</td>
            <td>{{ formatPrice(coin.marketCapUsd) }}</td>
            <td>
              {{
                coin.changePercent24Hr !== null
                  ? (coin.changePercent24Hr | number: '1.2-2') + '%'
                  : 'n/a'
              }}
            </td>
            <td>
              <button
                class="coins--add"
                (click)="openAddCoinModal($event, coin)">
                Add
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="pagination">
      <app-button
        label="◄ Prev"
        cssClass="button--pagination"
        [disabled]="isFirstPage"
        (clickEvent)="onPreviousPage()">
      </app-button>

      <app-button
        label="Next ►"
        cssClass="button--pagination"
        [disabled]="isLastPage"
        (clickEvent)="onNextPage()">
      </app-button>
    </div>
  </div>
</ng-container>

<app-modal
  *ngIf="isAddCoinModalOpen"
  [coin]="selectedCoin"
  [mode]="isAdding ? 'add' : 'portfolio'"
  (close)="closeAddCoinModal()"
  (addCoin)="addToPortfolio($event)">
</app-modal>
