<div>
  <input
    type="text"
    placeholder="Search by name or symbol"
    (input)="onSearch($event)" />
</div>

<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Logo</th>
      <th (click)="onSort('priceUsd')">
        Price (USD)
        <span *ngIf="sortBy === 'priceUsd'">
          {{ sortDirection === 'asc' ? '↓' : '↑' }}
        </span>
      </th>
      <th (click)="onSort('marketCapUsd')">
        Market Cap (USD)
        <span *ngIf="sortBy === 'marketCapUsd'">
          {{ sortDirection === 'asc' ? '↓' : '↑' }}
        </span>
      </th>
      <th (click)="onSort('changePercent24Hr')">
        Change (24h)
        <span *ngIf="sortBy === 'changePercent24Hr'">
          {{ sortDirection === 'asc' ? '↓' : '↑' }}
        </span>
      </th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let coin of coins$ | async" (click)="navigateToCoin(coin.id)">
      <td>{{ coin.symbol }}</td>
      <td>
        <img
          [src]="getIconUrl(coin.symbol)"
          alt="{{ coin.symbol }}"
          width="32" />
      </td>
      <td>{{ formatPrice(coin.priceUsd) }}</td>
      <td>{{ formatPrice(coin.marketCapUsd) }}</td>
      <td>
        {{
          coin.changePercent24Hr !== null
            ? (coin.changePercent24Hr | number: '1.2-2') + '%'
            : 'n/a'
        }}
      </td>
      <td><button (click)="openAddCoinModal($event, coin)">Add</button></td>
    </tr>
  </tbody>
</table>

<div class="pagination">
  <button (click)="onPreviousPage()" [disabled]="isFirstPage">Prev</button>
  <button (click)="onNextPage()" [disabled]="isLastPage">Next</button>
</div>

<app-add-coin-modal
  *ngIf="isAddCoinModalOpen"
  [coin]="selectedCoin"
  (close)="closeAddCoinModal()"
  (addCoin)="addToPortfolio($event)"
></app-add-coin-modal>
