<div *ngIf="isLoading" class="spinner">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="errorMessage" class="error">
  <p>{{ errorMessage }}</p>
  <app-button
    cssClass="button--back"
    label="Back to List"
    (clickEvent)="goBack()">
  </app-button>
</div>

<div class="detail" *ngIf="!isLoading && !errorMessage">
  <app-button
    cssClass="button--back"
    label="◄ Back to List"
    (clickEvent)="goBack()">
  </app-button>
  <div class="detail__top">
    <div class="detail__title">
      <img [src]="getIconUrl(coin.symbol)" alt="{{ coin.symbol }}" width="30" />
      <h1>{{ coin.name | titlecase }} ({{ coin.symbol }})</h1>
    </div>
    <button class="detail--add" (click)="openAddCoinModal($event, coin)">
      Add
    </button>
  </div>

  <p>Rank: {{ coin.rank }}</p>
  <p>Supply: {{ coin.supply | number }}</p>
  <p>Price (USD): {{ coin.priceUsd | number: '1.2-5' }}</p>
  <p>Market Cap (USD): {{ coin.marketCapUsd | number: '1.2-5' }}</p>
  <p>Max Supply: {{ coin.maxSupply | number }}</p>

  <div class="chart-options">
    <label for="timeRange">Time range:</label>
    <select id="timeRange" (change)="onTimeRangeChange($event)">
      <option value="1h">1 Hour</option>
      <option value="12h">12 Hours</option>
      <option value="24h" selected>24 Hours</option>
    </select>
  </div>

  <div class="chart">
    <canvas #coinChartCanvas></canvas>
  </div>
</div>

<app-modal
  *ngIf="isAddCoinModalOpen"
  [coin]="selectedCoin"
  [mode]="isAdding ? 'add' : 'portfolio'"
  (close)="closeAddCoinModal()"
  (addCoin)="addToPortfolio($event)">
</app-modal>
